
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import "alertify";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.alertify-notifier.ajs-right .ajs-message {
	color: #fff;
}

.chatbox {
	max-width: 420px;

	.chat {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 10px;
			padding-bottom: 5px;
			border-bottom: 1px dotted #B3A9A9;

			&.left .chat-body {
				margin-left: 60px;
			}

			&.right .chat-body {
				margin-right: 60px;
			}

			.chat-body p {
				margin: 0;
				color: #777777;
			}

			.chat-img img {
				width: 50px;
				height: 50px;
			}
		}
	}

	.panel .slidedown .glyphicon, .chat .glyphicon {
		margin-right: 5px;
	}

	.panel-body {
		overflow-y: auto;
		height: calc(100vh - 300px);
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #555;
	}
}